{% extends 'Base.html' %}
{% block titulo %}Acerca De Nosotros{% endblock %}

{% block contenido %}
<div class="logo-contenedor">
    <img src="static/img/imagotipo5.png" alt="..." class="logoA">
</div>
<div class="contenidoA">
    <h2>¿Quiénes somos?</h2>
<p>
Somos un equipo de dasarrollo que trata de combatir el impacto negativo del consumo de drogas. Tras observar de cerca cómo esta problemática afecta la vida de muchas personas, decidimos actuar. Con la colaboración de profesionales de la salud mental y el uso de inteligencia artificial, desarrollamos una aplicación móvil que ofrece una ayuda personalizada a quienes desean superar sus adicciones.
Creemos firmemente que todos merecen una segunda oportunidad y, por ello, nos dedicamos a brindar un apoyo integral y práctico para que cada usuario encuentre su camino hacia la recuperación.
</p>
</div>
<div class="lema-foot">
    <h3>¡Liberate hoy, transforma tu mañana!</h3>
</div>
{% endblock %}