{% extends 'Base.html' %}
{% block titulo %}Qué nos define{% endblock %}

{% block contenido %}
<div class="que-nos-define">

    <div class="imagen-contenedor">
        <img src="static/img/NosDefine.webp" alt="..." class="imagen-definicion">
    </div>

    <div class="fila-apartados">
        <div class="apartado">
            <h2>Misión</h2>
            <p>Nuestra misión es proporcionar un apoyo personalizado y accesible que ayude a las personas a superar sus adicciones y retomar el control de sus vidas, mejorando su bienestar físico, mental y emocional.</p>
        </div>
        <div class="apartado">
            <h2>Visión</h2>
            <p>Nuestra misión es proporcionar un apoyo personalizado y accesible que ayude a las personas a superar sus adicciones y retomar el control de sus vidas, mejorando su bienestar físico, mental y emocional.</p>
        </div>
        <div class="apartado">
            <h2>Valores</h2>
            <p>Compromiso: Trabajamos con dedicación y empatía para mejorar la vida de nuestros usuarios.
                Empatía: Entendemos los desafíos de la adicción y ofrecemos un espacio de apoyo sin juicios.
                Innovación: Utilizamos inteligencia artificial para crear soluciones únicas, efectivas y accesibles</p>
        </div>
    </div>
</div>

{% endblock %}

