<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/css/clases.css">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h2>Iniciar Sesión</h2>
            <div class="input-group">
                <input type="text" placeholder="Usuario">
            </div>
            <div class="input-group">
                <input type="password" placeholder="Contraseña">
            </div>
            <button class="login-button" onclick="window.location.href='/Panel'">LOGIN</button>
        </div>
    </div>

</body>


