<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_admi.css') }}">
</head>
<body>
<div class="container">
    <!-- Sidebar con la foto del administrador y los botones -->
    <div class="sidebar">
        <img src="{{ url_for('static', filename='img/imagen_admin.jpg') }}" alt="Foto del administrador">
        <h3>Julissa Alvarez</h3>
        <button id="button1" class="neumorphic-btn sidebar-btn" onclick="showSection('usuarios')">Gestión de Especialistas</button>
        <ul>
            <li><a id="button3" class="neumorphic-btn sidebar-btn" href="{{ url_for('index')}}">Regresar al inicio</a></li>
        </ul>
    </div>
    
    <!-- Contenido que se muestra al presionar los botones -->
    <div class="content">
        <!-- Sección de Gestión -->
        <div id="usuarios" class="content-section active">
            <h2>Gestión de Especialistas</h2>
            <button class="btn-agregar" onclick="abrirModalAgregar()">
                <img src="{{ url_for('static', filename='img/añadir.png') }}" alt="Añadir" style="width: 20px; height: 20px; color:white;">
                Añadir
            </button>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Ciudad</th>
                        <th>Teléfono</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for especialista in especialistas %}
                    <tr>
                        <td>{{ especialista['nombreCom'] }}</td>
                        <td>{{ especialista['correo'] }}</td>
                        <td>{{ especialista['ciudad'] }}</td>
                        <td>{{ especialista['numero'] }}</td>
                        <td class="actions">
                            <img src="{{ url_for('static', filename='img/eliminar.png') }}" alt="Eliminar" onclick="eliminarUsuario('{{ especialista['id'] }}')">
                            <img src="{{ url_for('static', filename='img/editar.png') }}" alt="Editar" onclick="abrirModalEditar('{{ especialista['id'] }}', '{{ especialista['nombreCom'] }}', '{{ especialista['correo'] }}', '{{ especialista['ciudad'] }}', '{{ especialista['numero'] }}')">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Ventana Modal para Editar -->
<div id="editModal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close" onclick="cerrarModalEditar()">&times;</span>
        <h2>Editar Usuario</h2>
        <input type="hidden" id="editId">
        <label for="nombre">Nombre:</label>
        <input type="text" id="editNombre" name="nombre">
        <br>
        <label for="correo">Correo:</label>
        <input type="email" id="editCorreo" name="correo">
        <br>
        <label for="ciudad">Ciudad:</label>
        <input type="text" id="editCiudad" name="ciudad">
        <br>
        <label for="telefono">Teléfono:</label>
        <input type="tel" id="editTelefono" name="telefono">
        <br>
        <button onclick="guardarCambios()">Guardar Cambios</button>
    </div>
</div>

<!-- Ventana Modal para Agregar -->
<div id="addModal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close" onclick="cerrarModalAgregar()">&times;</span>
        <h2>Agregar Especialista</h2>
        <form action="{{ url_for('guardar_especialista') }}" method="POST">
            <label for="nombreNuevo">Nombre:</label>
            <input type="text" id="nombreNuevo" name="nombreNuevo" required>
            <br>
            <label for="correoNuevo">Correo:</label>
            <input type="email" id="correoNuevo" name="correoNuevo" required>
            <br>
            <label for="ciudadNueva">Ciudad:</label>
            <input type="text" id="ciudadNueva" name="ciudadNueva" required>
            <br>
            <label for="telefonoNuevo">Teléfono:</label>
            <input type="tel" id="telefonoNuevo" name="telefonoNuevo" required>
            <br>
            <button type="submit">Agregar Especialista</button>
        </form>
    </div>
</div>

<script>
function showSection(sectionId) {
    document.querySelectorAll('.content-section').forEach(section => {
        section.classList.remove('active');
    });
    document.getElementById(sectionId).classList.add('active');
}

function cerrarModalEditar() {
    document.getElementById('editModal').style.display = 'none';
}

function abrirModalEditar(id, nombre, correo, ciudad, telefono) {
    document.getElementById('editId').value = id;
    document.getElementById('editNombre').value = nombre;
    document.getElementById('editCorreo').value = correo;
    document.getElementById('editCiudad').value = ciudad;
    document.getElementById('editTelefono').value = telefono;
    document.getElementById('editModal').style.display = 'block';
}

function abrirModalAgregar() {
    document.getElementById('addModal').style.display = 'block';
}

function cerrarModalAgregar() {
    document.getElementById('addModal').style.display = 'none';
}

function eliminarUsuario(especialistaId) {
    if (confirm('¿Estás seguro de que deseas eliminar este especialista?')) {
        // Enviar la solicitud de eliminación al servidor
        fetch(`/eliminar/${especialistaId}`, { method: 'DELETE' })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Especialista eliminado correctamente.');
                location.reload();  // Recargar la página
            } else {
                alert('Error al eliminar el especialista.');
            }
        });
    }
}

function guardarCambios() {
    const id = document.getElementById('editId').value;
    const nombre = document.getElementById('editNombre').value;
    const correo = document.getElementById('editCorreo').value;
    const ciudad = document.getElementById('editCiudad').value;
    const telefono = document.getElementById('editTelefono').value;

    const data = {
        nombre: nombre,
        correo: correo,
        ciudad: ciudad,
        telefono: telefono
    };

    // Enviar la solicitud de edición al servidor
    fetch(`/editar/${id}`, {
        method: 'PUT',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            alert('Especialista editado correctamente.');
            location.reload();
        } else {
            alert('Error al editar el especialista.');
        }
    });
}
</script>

</body>
</html>
