

/* Aplicar un fondo uniforme */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5; /* Cambia a cualquier color de fondo que desees */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que ocupa toda la altura de la pantalla */
}

/* Contenedor principal */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
 

 /* Contenedor de la pantalla de login */
 .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

/* Caja de login */
.login-box {
    margin-top: 10%;
    background-color: #072F5F; /* Color de fondo oscuro */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.login-box h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

/* Grupos de input */

.input-group input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #d9d9d9;
    font-size: 1rem;
}

/* Botón de login */
.login-button {
    width: 60%;
    padding: 10px;
    background-color: #D9D9D9; 
    color: #072F5F; /* Texto oscuro */
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
} 

.login-button:hover {
    background-color: #00e0d5; /* Color al hacer hover */
}












